#textended-config nav.tabs {
    border-bottom: 1px solid #000;
}

#textended-config nav.tabs > a.item {
    line-height:32px;
    font-size: var(--font-size-16);
}

/* Configuration Input Width Fix */
#textend-config-content .flexrow input[type="text"] {
    margin-right: 6px;
}

#textend-config-content .flexrow select {
    margin-right: 6px;
}

#textend-config-content .flexrow button {
    width: auto;
    padding-left: 8px;
}

/* Group Styles */
.teGroup {
    margin-bottom: 6px;
}

.teGroup > section {
    padding-left: 6px;
    border-left: 3px solid #000;
}

.teGroup .teExpandCollapse {
    cursor: pointer;
}

.teGroup .teExpandCollapse > span {
    background: none;
    border: none;
    text-align: right;
    padding: 0px;
    font-size: 1.8em;
}

.teGroup .teExpandCollapse > span > i::before {
    content: "\f151";
}

.teGroup .teExpandCollapse.teCollapsed > span > i::before {
    content: "\f150";
}

.teGroup .teExpandCollapse.teCollapsed + section {
    display: none;   
}

/* Headers */
.teHeader {
    border-bottom: 1px solid #000;
    margin-bottom: 4px;
    padding: 4px 0px;
}

.teHeader > label {
    font-size: var(--font-size-14);
}

/* Options */
.teOptions {
    text-align: right;
}

/* Footer */
.teConfigFooter {
    margin-top: 4px;
}

/* Flex Grow */
.teflex1 { flex-grow: 1; }
.teflex2 { flex-grow: 2; }
.teflex3 { flex-grow: 3; }
.teflex4 { flex-grow: 4; }
.teflex5 { flex-grow: 5; }
.teflex6 { flex-grow: 6; }
.teflex7 { flex-grow: 7; }
.teflex8 { flex-grow: 8; }
.teflex9 { flex-grow: 9; }