<form>
    <h3>{{localize "TEXTENDED.ABOUT.project-name"}}</h3>
    <hr />
    <div>
        <p>
            <b>v{{version}}</b>, {{localize "TEXTENDED.ABOUT.created-by"}} <em>Geekswordsman</em></b>
        </p>
        <p>{{localize "TEXTENDED.ABOUT.support-the-creator"}}<br /><a href="https://ko-fi.com/geekswordsman">https://ko-fi.com/geekswordsman</a></p>
        <p>{{localize "TEXTENDED.ABOUT.project-page"}}<br /><a href="https://gitlab.com/geekswordsman/textended">https://gitlab.com/geekswordsman/textended</a></p>
        <p>{{localize "TEXTENDED.ABOUT.live-support"}}<br /><a href="https://discord.gg/foundryvtt">https://discord.gg/foundryvtt</a></p>
    </div>
</form>