<form id="textended-config" onsubmit="event.preventDefault()" class="flexcol">
    <nav class="sheet-tabs tabs" data-group="sections">
        <a class="item" data-tab="tinymce"><i class="fas fa-cog"></i> {{localize "TEXTENDED.tinymce"}}</a>
        <a class="item" data-tab="templates"><i class="fas fa-wrench"></i> {{localize "TEXTENDED.templates"}}</a>
        <a class="item" data-tab="stylesheets"><i class="far fa-file-code"></i> {{localize "TEXTENDED.stylesheets"}}</a>
    </nav>
    <section id="textend-config-content" class="teConfigWindow content">
        <div class="tab" data-tab="tinymce">
            <div class="flexrow teHeader">
                <label class="teflex7" title='{{localize "TEXTENDED.TOOLTIPS.group-name"}}'>{{localize "TEXTENDED.group-name"}}</label>
                <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.group-enabled"}}'>{{localize "TEXTENDED.enabled"}}</label>
                <label class="teflex2 teOptions" title='{{localize "TEXTENDED.TOOLTIPS.options"}}'>{{localize "TEXTENDED.options"}}</label>
            </div>
            {{#each groups}}
            <section class="teGroup">
                <div class="flexrow" data-id="{{id}}">
                    <input class="teflex7" type="text" data-dtype="String" name="tGroupName-{{id}}" value="{{name}}" title='{{localize "TEXTENDED.TOOLTIPS.group-name"}}' />
                    <div class="teflex1">
                        <input type="checkbox" name="tGroupIsEnabled-{{id}}" data-dtype="Boolean" {{checked isEnabled}} title='{{localize "TEXTENDED.TOOLTIPS.group-enabled"}}' />
                    </div>
                    <div class="teflex2 teOptions">
                        <button type="button" data-action="addExtension" title='{{localize "TEXTENDED.TOOLTIPS.group-add-extension"}}'><i class="fas fa-plus"></i></button>
                        <button type="button" data-action="deleteGroup" title='{{localize "TEXTENDED.TOOLTIPS.group-delete"}}'><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                <section>
                    <div class="flexrow teHeader">
                        <label class="teflex2" title='{{localize "TEXTENDED.TOOLTIPS.extension-title"}}'>{{localize "TEXTENDED.title"}}</label>
                        <label class="teflex2" title='{{localize "TEXTENDED.TOOLTIPS.extension-element"}}'>{{localize "TEXTENDED.element"}}</label>
                        <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.extension-wrap"}}'>{{localize "TEXTENDED.wrap"}}</label>
                        <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.extension-split"}}'>{{localize "TEXTENDED.split"}}</label>
                        <label class="teflex2" title='{{localize "TEXTENDED.TOOLTIPS.extension-classes"}}'>{{localize "TEXTENDED.classes"}}</label>
                        <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.extension-enabled"}}'>{{localize "TEXTENDED.enabled"}}</label>
                        <label class="teflex1 teOptions" title='{{localize "TEXTENDED.TOOLTIPS.options"}}'>{{localize "TEXTENDED.options"}}</label>
                    </div>
                    {{#each extensions}}
                    <div class="flexrow" data-id="{{id}}" data-group-id="{{groupID}}">
                        <input class="teflex2" type="text" data-dtype="String" name="tTitle-{{id}}" value="{{title}}" title='{{localize "TEXTENDED.TOOLTIPS.extension-title"}}' />
                        <select class="teflex2" name="tBlock-{{id}}" title='{{localize "TEXTENDED.TOOLTIPS.extension-element"}}'>
                            <optgroup label='{{localize "TEXTENDED.blocks"}}'>
                                {{#each ../../blockElements as |key|}}
                                <option value={{key}} {{selected ../block key}}>{{key}}</option>
                                {{/each}}
                            </optgroup>
                            <optgroup label='{{localize "TEXTENDED.inline"}}'>
                                {{#each ../../inlineElements as |key|}}
                                <option value={{key}} {{selected ../block key}}>{{key}}</option>
                                {{/each}}
                            </optgroup>
                        </select>
                        <div class="teflex1">
                            <input type="checkbox" name="tWrapper-{{id}}" data-dtype="Boolean" {{checked wrapper}} title='{{localize "TEXTENDED.TOOLTIPS.extension-wrap"}}' />
                        </div>
                        <div class="teflex1">
                            <input type="checkbox" name="tSplit-{{id}}" data-dtype="Boolean" {{checked split}} title='{{localize "TEXTENDED.TOOLTIPS.extension-split"}}' />
                        </div>
                        <input class="teflex2" type="text" data-dtype="String" name="tClasses-{{id}}"
                            value="{{classes}}" title='{{localize "TEXTENDED.TOOLTIPS.extension-classes"}}' />
                        <div class="teflex1">
                            <input type="checkbox" name="tIsEnabled-{{id}}" data-dtype="Boolean" {{checked isEnabled}} title='{{localize "TEXTENDED.TOOLTIPS.extension-enabled"}}' />
                        </div>
                        <div class="teflex1 teOptions">
                            <button type="button" data-action="deleteExtension" title='{{localize "TEXTENDED.TOOLTIPS.extension-delete"}}'><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <hr />
                    {{/each}}
                </section>
            </section>
            {{/each}}
            <h2>{{localize "TEXTENDED.add-new-group"}}</h2>
            <div class="flexrow">
                <input type="text" class="teflex7" name="teNewGroupName" data-dtype="String" title='{{localize "TEXTENDED.TOOLTIPS.group-name"}}' />
                <div class="teflex2"></div>
                <div class="teflex1">
                    <button type="button" data-action="addNewGroup" title='{{localize "TEXTENDED.TOOLTIPS.group-add"}}'><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="tab" data-tab="stylesheets">
            <div class="flexrow teHeader">
                <label class="teflex3" title='{{localize "TEXTENDED.TOOLTIPS.sheet-name"}}'>{{localize "TEXTENDED.sheet-name"}}</label>
                <label class="teflex5" title='{{localize "TEXTENDED.TOOLTIPS.sheet-path"}}'>{{localize "TEXTENDED.path"}}</label>
                <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.sheet-enabled"}}'>{{localize "TEXTENDED.enabled"}}</label>
                <label class="teflex1 teOptions" title='{{localize "TEXTENDED.TOOLTIPS.options"}}'>{{localize "TEXTENDED.options"}}</label>
            </div>
            {{#each sheets}}
            <div class="flexrow" data-sheet-path="{{name}}" data-id="{{id}}">
                <input class="teflex3" type="text" data-dtype="String" name="tSheetName-{{id}}" value="{{name}}" {{#if
                    locked}}disabled{{/if}} title='{{localize "TEXTENDED.TOOLTIPS.sheet-name"}}' />
                <input class="teflex5" type="text" data-dtype="String" name="tSheetPath-{{id}}" value="{{path}}"
                    disabled title='{{localize "TEXTENDED.TOOLTIPS.sheet-path"}}' />
                <div class="teflex1">
                    <input type="checkbox" name="tSheetIsEnabled-{{id}}" data-dtype="Boolean" {{checked isEnabled}} title='{{localize "TEXTENDED.TOOLTIPS.sheet-enabled"}}' />
                </div>
                <div class="teflex1 teOptions">
                    {{#unless locked}}
                    <button type="button" data-action="deleteSheet" title='{{localize "TEXTENDED.TOOLTIPS.sheet-delete"}}'><i class="fas fa-trash"></i></button>
                    {{/unless}}
                </div>
            </div>
            <hr />
            {{/each}}
            <h2>{{localize "TEXTENDED.add-new-sheet"}}</h2>
            <div class="flexrow">
                <input type="text" class="teflex3" name="teNewName" value="{{newName}}" data-dtype="String" title='{{localize "TEXTENDED.TOOLTIPS.sheet-name"}}' />
                <input type="text" class="teflex5" name="teNewSheet" value="{{newSheet}}" data-dtype="String" title='{{localize "TEXTENDED.TOOLTIPS.sheet-path"}}' />
                <div class="teflex1">
                    {{filePicker target="teNewSheet" type="css" allowUpload="false"}}
                </div>
                <div class="teflex1 teOptions">
                    <button type="button" data-action="addNew" title='{{localize "TEXTENDED.TOOLTIPS.sheet-add"}}'><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="tab" data-tab="templates">
            <div class="flexrow teHeader">
                <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.template-title"}}'>{{localize "TEXTENDED.template-title"}}</label>
                <label class="teflex3" title='{{localize "TEXTENDED.TOOLTIPS.template-description"}}'>{{localize "TEXTENDED.template-description"}}</label>
                <label class="teflex4" title='{{localize "TEXTENDED.TOOLTIPS.template-content"}}'>{{localize "TEXTENDED.template-content"}}</label>
                <label class="teflex1" title='{{localize "TEXTENDED.TOOLTIPS.template-enabled"}}'>{{localize "TEXTENDED.enabled"}}</label>
                <label class="teflex1 teOptions" title='{{localize "TEXTENDED.TOOLTIPS.options"}}'>{{localize "TEXTENDED.options"}}</label>
            </div>
            {{#each templates}}
            <div class="flexrow" data-template-description="{{title}}" data-id="{{id}}">
                <input class="teflex1" type="text" data-dtype="String" name="tTemplateTitle-{{id}}" value="{{title}}" title='{{localize "TEXTENDED.TOOLTIPS.template-title"}}' />
                <input class="teflex3" type="text" data-dtype="String" name="tTemplateDescription-{{id}}" value="{{description}}" title='{{localize "TEXTENDED.TOOLTIPS.template-description"}}' />
                <textarea class="teflex4" data-dtype="String" name="tTemplateContent-{{id}}" title='{{localize "TEXTENDED.TOOLTIPS.template-content"}}'>{{content}}</textarea>
                <div class="teflex1">
                    <input type="checkbox" name="tTemplateIsEnabled-{{id}}" data-dtype="Boolean" {{checked isEnabled}} title='{{localize "TEXTENDED.TOOLTIPS.template-enabled"}}' />
                </div>
                <div class="teflex1 teOptions">
                    <button type="button" data-action="deleteTemplate" title='{{localize "TEXTENDED.TOOLTIPS.template-delete"}}'><i class="fas fa-trash"></i></button>
                </div>
            </div>
            <hr />
            {{/each}}
            <h2>{{localize "TEXTENDED.add-new-template"}}</h2>
            <div class="flexrow">
                <input type="text" class="teflex1" name="teNewTemplateTitle" value="{{newTemplateTitle}}" data-dtype="String" title='{{localize "TEXTENDED.TOOLTIPS.template-title"}}' />
                <input type="text" class="teflex3" name="teNewTemplateDescription" value="{{newTemplateDescription}}" data-dtype="String" title='{{localize "TEXTENDED.TOOLTIPS.template-description"}}' />
                <div class="teflex5"></div>
                <div class="teflex1 teOptions">
                    <button type="button" data-action="addNewTemplate" title='{{localize "TEXTENDED.TOOLTIPS.template-add"}}'><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </section>
    <footer class="teConfigFooter flexrow">
        <button type="submit" data-action="submit"><i class="fa fa-check"></i>{{localize 'TEXTENDED.OK'}}</button>
    </footer>
</form>